.form{
    display: flex;
    justify-content: center;
}

.formText{
    color: rgba(34, 34, 32, 0.849);
    margin: 2%;
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0.521);
    padding: 2% 4%;
    width: 600px;
}